<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Menu Ademas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type ="text/css" th:href="@{/css/style.css}">
    </head>
    <body class="admindex">

        
            <div class="main">
              <div class="logo">
                <img th:src="@{/image/logo_free.jpg}">
              </div>
              <ul class="top_bar">
                <li><a href="contact.html">Contato</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a class="active" th:href="@{/home}">Home</a></li>
              </ul>
            </div>
        
        <div align="center">
        <h1><font color="white">Página do Ademas</font></h1>
        </div>
              <div class="acontainer">
                <br><br><br>
                    <ol class="rounded-list">
                 
                      <div class="teste">
                        <h2> CRUD USERS<br></h2>
                        <br>
                    <li><a th:href="@{/admin/listausers}">Listar Users</li></a>
                    <li><a th:href="@{/admin/cadastrouser}">Adicionar User/Loja</li></a>
                    <br>
                    <h2> CRUD LOJAS<br></h2>
                    <li><a th:href="@{/admin/listaloja}">Listar Lojas</li></a>
                <li> <a href="#" onclick="document.getElementById('logout-form').submit();">Quitar</a></li>
                <form id="logout-form" th:action="@{/logout}" method="post"></form>
              </div>
              </div>
            </ol>
        </ul>
    </body>
</html>

