<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
  <head>
    <title th:text="#{register_users.message}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="stylesheet" type ="text/css" th:href="@{/css/style.css}">

  <style>
    body {
      background-image: url(../image/DodgeViper.png);
      background-size: cover;
      background-position: center;
    }
  </style>


  </head>
  <body>
    <div align="center">
      <h1 th:text="#{manage_users.message}"><font color="black"></font></h1>
      <h2>
        <a th:href="@{/admin/listausers}" th:text="#{list_users.message}"></a>
      </h2>
    </div>
    <br><br>
    
    <div class="carForm">
        <form
        th:action="${usuario.id == null} ? @{/admin/salvar} : @{/admin/editar}"
        th:object="${usuario}" method="POST">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:text="#{username.message}" for="username"></label> 
                <input type="text" class="form-control" id="username"
                    th:placeholder="#{username.message}"
                    autofocus="autofocus" th:field="*{username}"
                    th:classappend="${#fields.hasErrors('username')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{username}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{password.message}" for="password"></label> 
                <input type="text" class="form-control" id="password"
                    placeholder="******" autofocus="autofocus"
                    th:field="*{password}"
                    th:classappend="${#fields.hasErrors('password')} ? is-invalid" th:readonly="${usuario.id != null}"/>
                    
                <div class="invalid-feedback">
                    <span th:errors="*{password}"></span>
                </div>
            </div>
            
            <div class="form-group col-md-6">
                <label th:text="#{name.message}" for="nome"></label> 
                <input type="text" class="form-control" id="nome" th:field="*{nome}"
                    th:placeholder="#{name.message}" autofocus="autofocus"
                    th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
                    
                <div class="invalid-feedback">
                    <span th:errors="*{nome}"></span>
                </div>
            </div>
            
            <div class="form-group col-md-6">
                <label th:text="#{cpf_cnpj.message}" for="cpf"></label> 
                <input type="text" class="form-control" id="cpf" th:field="*{cpf}"
                    autofocus="autofocus" placeholder="___.___.___-__"
                    th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" />
                    
                <div class="invalid-feedback">
                    <span th:errors="*{cpf}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{telephone.message}" for="telefone"></label> 
                <input type="text" class="form-control" id="telefone" th:field="*{telefone}"
                    th:placeholder="#{telephone.message}" autofocus="autofocus"
                    th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" />
                    
                <div class="invalid-feedback">
                    <span th:errors="*{telefone}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{sex.message}" for="sexo"></label> 
                <input type="text" class="form-control" id="sexo" th:field="*{sexo}"
                    th:placeholder="#{sex.message}" autofocus="autofocus"
                    th:classappend="${#fields.hasErrors('sexo')} ? is-invalid" />
                    
                <div class="invalid-feedback">
                    <span th:errors="*{sexo}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="datanasc" th:text="#{birth.message}"></label> 
                <input type="text" class="form-control" id="datanasc" th:field="*{datanasc}"
                    placeholder="00/00/0000" autofocus="autofocus"
                    th:classappend="${#fields.hasErrors('datanasc')} ? is-invalid" />
                    
                <div class="invalid-feedback">
                    <span th:errors="*{datanasc}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="descricao" th:text="#{description_store.message}"></label> 
                <input type="text" class="form-control" id="descricao" th:field="*{descricao}"
                    autofocus="autofocus"
                    th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />
                    
                <div class="invalid-feedback">
                    <span th:errors="*{descricao}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{role.message}" for="role"></label> 
                <select id="role" class="form-control" th:field="*{role}"
                    th:classappend="${#fields.hasErrors('role')} ? is-invalid">
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_LOJA">ROLE_LOJA</option>
                </select>
    
                <div class="invalid-feedback">
                    <span th:errors="*{role}"></span>
                </div>
            </div>
        </div>

        <input type="hidden" id="id" th:field="*{id}" />
        <button type="submit"
            class="btnCar" th:text="#{save.message}"></button>
    </form>
    </div>
  
  </body>
</html>
