<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title th:text="#{list_stores_title.message}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type ="text/css" th:href = "@{/css/lojaindex.css}">
    </head>
    <body>
        <div align="center">
			<h1 class="label" th:text="#{manage_stores.message}"></h1>
		</div>
        <div align="center">
            <table class="styled-table">		
                <thead>
					<tr>
						<th th:text="#{username.message}"></th>
						<th>CNPJ</th>
						<th th:text="#{name.message}"></th>
						<th th:text="#{description.message}"></th>
						<th th:text="#{action.message}"></th>
					</tr>

                </thead>		
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.username}"></td>
                    <td th:text="${usuario.cpf}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.descricao}"></td>
                    <td><a th:href="@{/admin/editar/{id} (id=${usuario.id}) }" th:text="#{edit.message}"></a>
                        <a th:href="@{/admin/excluir/{id} (id=${usuario.id}) }" onclick="return confirm('Tem certeza que deseja deletar esse usuário?');" th:text="#{delete.message}"></a>
                    </td>
                    </tr>
                </c:forEach>
                </tbody>
            </table>
        </div>             
    </body>
</html>