<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel = "stylesheet" type ="text/css" th:href = "@{/css/style.css}">
        <title>Cadastro Proposta</title>
    </head>
    <body>
        <h1 th:text="${usuarioatual.nome}"></h1>
        <h2 th:text="${idcarro}"></h2>
    </body>
</html>