<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
  <head>
    <title th:text="#{proposal_register.message}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--<style>
    body {
      background-image: url(../image/car.jpg);
      background-size: cover;
      background-position: center;
    }
  </style>-->

  <link rel="stylesheet" type ="text/css" th:href="@{/css/style.css}">
  </head>
  <body>
    <div align="center">
        <font color="black"><h1 th:text="#{proposal_manage.message}"></font></h1>
      <h2>
        <a th:href="@{/user/userindex}" th:text="#{back.message}"></a>
      </h2>
      <h3>
          <span th:if="${repetida == 1}"th:text="#{already_proposal.message}"></span>
      </h3>
    </div>
    <div align="center">
        <form
        th:action="@{/user/salvarproposta}"
        th:object="${proposta}" method="POST">

        <div class="form-row">

            <div class="form-group col-md-6">
                <label text="Valor:" for="valorproposta"></label> 
                <input type="text" class="form-control" id="valorproposta"
                    th:placeholder="#{value.message}"
                    autofocus="autofocus" th:field="*{valorproposta}"
                    th:classappend="${#fields.hasErrors('valorproposta')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{valorproposta}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label text="Condições:" for="condicoes"></label> 
                <input type="text" class="form-control" id="condicoes"
                    th:placeholder="#{condition.message}"
                    autofocus="autofocus" th:field="*{condicoes}"
                    th:classappend="${#fields.hasErrors('condicoes')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{condicoes}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label text="Data:" for="dataatual"></label> 
                <select id="dataatual" class="form-control" th:field="*{dataatual}"
                    th:classappend="${#fields.hasErrors('dataatual')} ? is-invalid">
                    <option th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}" 
                        th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}"></option>
                </select>
                <div class="invalid-feedback">
                    <span th:errors="*{dataatual}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label text="Usuario:" for="usuario"></label> 
                <select id="usuario" class="form-control" th:field="*{usuario}"
                    th:classappend="${#fields.hasErrors('usuario')} ? is-invalid">
                    <option th:value="${usuarioatual.id}"
                        th:text="${usuarioatual.nome}"></option>
                </select>

                <div class="invalid-feedback">
                    <span th:errors="*{usuario}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label text="Carro:" for="carro"></label> 
                <select id="carro" class="form-control" th:field="*{carro}"
                    th:classappend="${#fields.hasErrors('carro')} ? is-invalid">
                    <option th:value="${carroatual.id}"
                        th:text="${carroatual.modelo}"></option>
                </select>

                <div class="invalid-feedback">
                    <span th:errors="*{carro}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label text="Status:" for="statusproposta"></label> 
                <select id="statusproposta" class="form-control" th:field="*{statusproposta}"
                    th:classappend="${#fields.hasErrors('statusproposta')} ? is-invalid">
                    <option th:value="Aberta"
                        th:text="Aberta"></option>
                </select>

                <div class="invalid-feedback">
                    <span th:errors="*{statusproposta}"></span>
                </div>
            </div>

        <input type="hidden" id="id" th:field="*{id}" />
        <button type="submit"
            class="btn btn-primary btn-sm" th:text="#{save.message}"></button>
    </form>
    </div>
  </body>
</html>
