<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
  <head>
    <title th:text="#{car_register.message}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type ="text/css" th:href="@{/css/style.css}">
  </head>
  <body>
    <div align="center">
      <font color="black"><h1 th:text="#{car_manage.message}"></font></h1>
      <h2>
        <a th:href="@{/loja/lojaindex}" th:text="#{back.message}"></a>
      </h2>
    </div>
    <div align="center">
        <form
        th:action="${carro.id == null} ? @{/loja/salvarcarro} : @{/loja/editarcarro}"
        th:object="${carro}" method="POST">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:text="#{plate.message}" for="placa"></label> 
                <input type="text" class="form-control" id="placa"
                    placeholder="ABC-1234"
                    autofocus="autofocus" th:field="*{placa}"
                    th:classappend="${#fields.hasErrors('placa')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{placa}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{model.message}" for="modelo"></label> 
                <input type="text" class="form-control" id="modelo"
                    th:placeholder="#{model.message}"
                    autofocus="autofocus" th:field="*{modelo}"
                    th:classappend="${#fields.hasErrors('modelo')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{modelo}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{chassi.message}" for="chassi"></label> 
                <input type="text" class="form-control" id="chassi"
                    th:placeholder="#{chassi.message}"
                    autofocus="autofocus" th:field="*{chassi}"
                    th:classappend="${#fields.hasErrors('chassi')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{chassi}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{year.message}" for="ano"></label> 
                <input type="number" class="form-control" id="ano"
                    th:placeholder="#{year.message}"
                    autofocus="autofocus" th:field="*{ano}"
                    th:classappend="${#fields.hasErrors('ano')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{ano}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{km.message}" for="km"></label> 
                <input type="number" class="form-control" id="km"
                    th:placeholder="#{km.message}"
                    autofocus="autofocus" th:field="*{km}"
                    th:classappend="${#fields.hasErrors('km')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{km}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{description.message}"for="descricaocarro"></label> 
                <input type="text" class="form-control" id="descricaocarro"
                    th:placeholder="#{car_description.message}"
                    autofocus="autofocus" th:field="*{descricaocarro}"
                    th:classappend="${#fields.hasErrors('descricaocarro')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{descricaocarro}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{price.message}" for="valor"></label> 
                <input type="text" class="form-control" id="valor"
                    th:placeholder="#{price.message}"
                    autofocus="autofocus" th:field="*{valor}"
                    th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />

                <div class="invalid-feedback">
                    <span th:errors="*{valor}"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label th:text="#{store.message}" for="usuario"></label> 
                <select id="usuario" class="form-control" th:field="*{usuario}"
                    th:classappend="${#fields.hasErrors('usuario')} ? is-invalid">
                    <option th:value="${usuarioatual.id}"
                        th:text="${usuarioatual.nome}"></option>
                </select>

                <div class="invalid-feedback">
                    <span th:errors="*{usuario}"></span>
                </div>
            </div>

        <input type="hidden" id="id" th:field="*{id}" />
        <button type="submit"
            class="btn btn-primary btn-sm" th:text="#{save.message}"></button>
    </form>
    </div>
  </body>
</html>
