<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel = "stylesheet" type ="text/css" th:href = "@{/css/lojaindex.css}">
        <title>Menu Loja</title>
    </head>
    <body>
        <div align="center">
            <h1>Página da Loja</h1>
        </div>

        <div align="center">
            <span>Olá </span>
            <span sec:authentication="name">Teste</span>
            <br>
            <br>

            <a th:href="@{/loja/cadastrocarro}">Adicionar Carro</a>
            <a href="#">Adicionar Foto</a>
            <a th:href="@{/loja/listapropostaloja}">Listar Propostas</a>
            <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
            <form id="logout-form" th:action="@{/logout}" method="post"></form>
        </div>
        <br>
        <br>
        <div align="center">
            <h3>Seus Carros:</h3>
            <table class="styled-table">
            <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Chassi</th>
                <th>Ano</th>
                <th>Km</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>       
                <tr th:each="carro : ${carros}">
                    <td th:text="${carro.placa}"></td>
                    <td th:text="${carro.modelo}"></td>
                    <td th:text="${carro.chassi}"></td>
                    <td th:text="${carro.ano}"></td>
                    <td th:text="${carro.km}"></td>
                    <td th:text="${carro.descricaocarro}"></td>
                    <td th:text="${carro.valor}"></td>
                    <td>
                        <a th:href="@{/loja/editarcarro/{id} (id=${carro.id}) }" class="teste"><h3>Editar</h3></a> &nbsp;&nbsp;&nbsp;&nbsp;        
                        <a th:href="@{/loja/removercarro/{id} (id=${carro.id}) }" onclick="return confirm('Tem certeza de que deseja excluir este item?');"><h3>Deletar</h3></a>
                    </td>
            </tbody>
            </table>
        </div>
    </body>
</html>