<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
      <title th:text="#{login_page.message}"></title>
      <link rel = "stylesheet" type ="text/css" th:href = "@{/css/style.css}">
   </head>
   <body class="login">
      
      <div class="main">
         <div class="logo">
           <img th:src="@{/image/logo_free.jpg}">
         </div>
         <ul class="top_bar">
            <li><a th:href="@{/contato}" th:text="#{contact.message}"></a></li>
          <li><a th:href="@{/login}">Login</a></li>
          <li><a class="active" th:href="@{/home}">Home</a></li>
         </ul>
       </div>

      <div class="title">
         <h1>Login</h1>
      </div>
      <div class="container">
         <div class="left"></div>
         <div class="right">
            <div class="formBox">
               <form method="post" th:action="@{/login}">
                  <label for="username" th:text="#{username.message}"></label>
                  <input type="username" name="username" placeholder="My name is Jonas" required >
                  <label for="pass" th:text="#{password.message}"></label>
                  <input type="password" name="password" placeholder="********" required>
                  <input type="submit" name="bOK" th:value="#{next.message}">
               </form>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>